/*--------------------------------------------
Button Black CSS
--------------------------------------------*/
QPushButton {
    color: white;
    background: #013b08;
    border: 1px solid #097516;
    border-radius: 4px;
    padding: 6px;
}
QPushButton:hover{
    border: 1px solid #1b7a26;
    color: #ffffff;
    background: #179c27;
}
QPushButton:pressed {
    background: #1b7a26;
    border: none;
    color: #179c27;
}
QPushButton::disabled {
    color: rgba(255, 255, 255, 10%);
    background: rgba(87, 87, 87, 40%);
    border: 1px solid rgba(45, 45, 46, 40%);
}
